<div class="main_body">
    <section class="header_top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <h2>Todo</h2>
          </div>
          <div class="col-md-7">
            <p>Completed tasks:<span>{{done.length}}</span> Total tasks: <span>{{todos.length}}</span></p>
          </div>
        </div>
      </div>
    </section>
  