// --------------- //
// General p. Style
// ----------------//

.header_top
  background: #568dcc
  padding: 15px 20px
  .col-md-7
    text-align: right
    padding-top: 10px
  span
    font-weight: bolder

.main_section_body 
  .row
    display: flex
    flex-wrap: wrap
    padding: 9px
  .todo_cards
    background: #568dcc
    width: 24%
    margin: 10px 7px
    text-align: left
    padding: 20px
    transition: ease all 0.3s
    border-radius: 5px
  .todo_cards:nth-of-type(odd)
    background: #709dd0

  h3
    text-transform: capitalize
  p
    font-size: 18px
  h6 
    font-size: 18px
    margin-top: 20px
    text-transform: capitalize
  i 
    color: rgb(172, 4, 4)
    position: relative
    float: right
    font-size: 24px
    cursor: pointer
    opacity: .7
    transition: ease all 0.3s
    display: none
  i:hover 
    transition: ease all 0.3s
    opacity: 1
.todo_cards:hover 
  opacity: .95
  transition: ease all 0.3s
  i
    transition: ease all 0.3s
    display: block

.add_project_card
  margin-top: 20px
  text-align: center
  height: auto
  width: 103% !important
  background: #709dd0
  padding-bottom: 10px
  border-radius: 5px
  input
    background: #709dd0
    border: solid 1px #709dd0
    color: #000
    width: 90%
    border-bottom: solid 1px #ccc
    padding: 10px
    font-size: 20px
    border-radius: 5px
    margin-top: 20px
    outline: none !important
  textarea
    background: #709dd0
    outline: none !important
    border: solid 1px #709dd0
    color: #000
    width: 90%
    border-bottom: solid 1px #ccc
    padding: 10px
    margin-top: 20px
    font-size: 20px
  button
    color: black
    background: white
    border: none
    width: 100px
    height: 35px
    cursor: pointer
    margin-top: 30px
    transition: ease all .3s
  button:hover 
      opacity: .9
      transition: ease all .3s

// Checkbox Style
.container_check_p 
  padding: 0px;
.container_check
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 18px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

.checkmark
  position: absolute
  top: 2px
  left: 0
  height: 20px
  width: 20px
  background-color: #fff

.container_check
  &:hover input ~ .checkmark
    background-color: #ccc
    transition: ease all 0.3s
  input:checked ~ .checkmark
    background-color: #a6a2a2
    transition: ease all 0.3s

.checkmark:after
  content: ""
  position: absolute
  display: none

.container_check
  input:checked ~ .checkmark:after
    display: block
  .checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)

\::placeholder
  color: black
  opacity: 1

\:-ms-input-placeholder, ::-ms-input-placeholder
  color: black

// --------------- //
// Responsive Style
// ----------------//

@media only screen and (min-width: 1000px)
  .desktop-d-n
    display: none
@media only screen and (max-width: 1000px)
  .mobile-d-n
    display: none
  .header_top 
    text-align: center 
    .col-md-7
      text-align: center    
  .add_project_card
    margin-top: 20px
    text-align: center
    height: 150px
    width: 100%
    background: #709dd0