<div class="main_body">
<section class="header_top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <h2>Todo</h2>
      </div>
      <div class="col-md-7">
        <p>Completed tasks:<span>{{done.length}}</span> Total tasks: <span>{{todos.length}}</span></p>
      </div>
    </div>
  </div>
</section>

<section class="main_section_body">
  <div class="container-fluid">
    <div class="row">
        <div class="todo_cards"  *ngFor="let todo of todos">
          <i (click)="deleteTodo(todo.label)" class="fa fa-times-circle" aria-hidden="true"></i>
          <h3>{{todo.label}}</h3>
          <h6>{{todo.username}}</h6>
          <p>{{todo.description}}</p>
          <label class="container_check_p">
            <label class="container_check">Completed
              <input type="checkbox" [(ngModel)]="todo.done">
              <span class="checkmark"></span>
            </label>
          </label>
        </div>
    </div>
  </div>
</section>


<section class="section_add_task mobile-d-n">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-3">
        <div class="add_project_card">
          <input type="text" [(ngModel)]="newTodoValues.label" placeholder="Task Name" required/>
          <input type="text" [(ngModel)]="newTodoValues.username" placeholder="Username" required/>
          <!-- <text type="text"  [(ngModel)]="newTodoValues.description" placeholder="Task Description" required/> -->
          <textarea type="text"  [(ngModel)]="newTodoValues.description" placeholder="Task Description" required></textarea>
          <button (click)="addTodo()" (keyup)="_keyUp($event)">Add Task</button>
        </div>
      </div>        
    </div>
  </div>
</section>

</div>
